@tailwind base;
@tailwind components;
@tailwind utilities;

.link-menu:hover::after {
  width: 100%;
}

.link-menu::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #38f8d4;
  transition: width 0.3s ease;
}

.link-recomendation svg {
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.link-recomendation:hover svg {
  transform: translateX(10px);
}

.fade--in {
  animation: fade-in 0.8s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .link-menu::after {
    display: none;
  }

  .switcher-language {
    width: 35px !important;
    height: 22px !important;
  }

  .switcher-language img {
    width: 35px !important;
    height: 22px !important;
    object-fit: cover;
  }
}

.container__about {
  @media (max-width: 1290px) {
    height: 440px !important;
  }

  @media (max-width: 1028px) {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    height: max-content !important;
  }

  @media (max-width: 468px) {
    img {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }
  }
}

.section__experience {
  @media (max-width: 868px) {
    height: max-content !important;
  }
}

.grid__tech {
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 468px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'JetBrains Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;

  section {
    scroll-margin-top: 100px;
  }
}
