@tailwind base;
@tailwind components;
@tailwind utilities;

.link-menu:hover::after {
  width: 100%;
}

.link-menu::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #38f8d4;
  transition: width 0.3s ease;
}

.title_contact::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #38f8d4;
  transition: width 0.3s ease;
}

@media screen and (max-width: 768px) {
  .link-menu::after {
    display: none;
  }

  .switcher-language {
    width: 35px !important;
    height: 22px !important;
  }

  .switcher-language img {
    width: 35px !important;
    height: 22px !important;
    object-fit: cover;
  }
}

.container__about {
  @media (max-width: 1290px) {
    height: 440px !important;
  }

  @media (max-width: 1000px) {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    height: max-content !important;
  }

  @media (max-width: 468px) {
    img {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

html {
  scroll-behavior: smooth;
}
